<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Lista de Solicitudes</h4>
                        <p class="card-category">Municipalidad de Chaclacayo</p>
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">

                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Organizacióm Social
                                    </th>
                                    <th>
                                        Tipo de Organización Social
                                    </th>
                                    <th>
                                        Zona Local
                                    </th>
                                    <th>
                                        Nivel OS    
                                    </th>
                                    <th>
                                        Dirección
                                    </th>
                                   
                                </thead>

                                <tbody>

                                    <tr *ngFor="let repo of repost;">
                                       <td>{{repo.idorganizacion}}</td>
                                       <td>{{repo.organizacion}}</td>
                                       <td>{{repo.tipoos}}</td>
                                       <td>{{repo.zonalocal}}</td>
                                       <td>{{repo.nivelos}}</td>
                                       <td>{{repo.direccion}}</td>
                                
                                    </tr>

                                   
                                    
                                
                                   
        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
  </div>
  