<header class="clearfix">
    <div class="navbar navbar-default navbar-top">
        <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" dnavbarata-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <a class="navbar-brand" href="index.html">
                Municipalidad de Chaclacayo</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="active" href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="about.html">Modelos de Doc</a>
                </li>
                <li>
                    <a href="service.html">tipos Organizaciones Sociales</a>
                </li>
                <li>
                    <a href="portfolio.html">Organizaciones Sociales Registradas </a>
                </li>
                <li>
            </ul>
        </div>
    </div>
</header>

<div class="banner">
    <div class="container">
        <div class="intro-text">
            <h1 class="shadow">Plataforma Virtual <br>
                <span>Ruos</span><br>
                Registro Único de Organizaciones Sociales
            </h1>
        </div>
    </div>
</div>

<section id="about-section" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-14">
                <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="about-img">
                    <img src="images/corporate1.jpg" class="img-responsive" alt="About images">
                    <div class="head-text">
                        <p>Registra tu Organización Social en Neo System Group</p>
                    </div>

                </div>
            </div>
            <div class="col-md-7">
                <div class="about-text">
                    <div class="col-md-14">
                        <div class="section-title text-center wow fadeInDown" data-wow-duration="2s"
                            data-wow-delay="50ms">
                            <br> <br>
                            <h2>¿QUÉ ES EL RUOS ?</h2> <br> <br>
                            <p>
                                Es el Registro Único de Organizaciones Sociales, <br>
                                a cargo de las municipalidades distritales y de la <br>
                                Municipalidad Metropolitana de Lima. <br>

                                Dentro de lo establecido en la Ordenanza <br>
                                1762-2013-MML, se describen los requisitos <br>
                                y el procedimiento para el reconocimiento <br>
                                de las organizaciones sociales y sus <br>
                                representantes, así como los actos que se realicen <br>
                                con posterioridad a su inscripción.
                            </p>
                            <button class="botoniniciar" [routerLink]="['/registrar']"
                                routerLinkActive="router-link-active">
                                Registrarse
                            </button>
                            <button class="boton" [routerLink]="['/login']" routerLinkActive="router-link-active">
                                Iniciar Sesión
                            </button> <br><br><br><br><br>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center wow fadeInDown" data-wow-duration="2s" data-wow-delay="50ms">
                    <h2>PASOS PARA REGISTRAR A TU ORGANIZACIÓN</h2>
                    <p>Te presentamos los pasos a seguir para registrar una organización social.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-pencil"></i></a>
                    <h2>Crear cuenta</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-user"></i></a>
                    <h2>Iniciar sesión</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-giftfa fa-cloud-upload"></i></a>
                    <h2>Subir documentos</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-envelope-o"></i></a>
                    <h2>Enviar solicitud</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-search"></i></a>
                    <h2>Evaluación de documentos</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="services-post">
                    <a href="#"><i class="fa fa-thumbs-up"></i></a>
                    <h2>Aprobación final</h2>
                </div>
            </div>
        </div>
    </div><br><br>


    <div>
        <div class="container">
            <div class="row">
                <h1>Modelos de Documentos Requeridos</h1>
                <br><br><br>
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre del Formato</th>
                            <th scope="col">Modelo del Formato</th>
                            <th scope="col">Modelo para Llenar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td li>SOLICITUD PARA REGISTRO NUEVO DE ORGANIZACIÓN</td>
                            <td> <img src="i" src="documentos/pdf/" download class="img-fluid rounded-top" alt="">
                                download >Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>SOLICITUD PARA ACTUALIZACIÓN DE ORGANIZACIÓN</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>ACTA DE ELECCIÓN DEL ÓRGANO DIRECTIVO</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>ESTATUTO Y ACTA DE APROBACIÓN</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>ACTA DE FUNDACIÓN O DE CONSTITUCIÓN</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>PLANO DE ACCIÓN DE LA ORGANIZACIÓN</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>NÓMINA DE LOS MIEBROS DE LA ORGANIZACIÓN SOCIAL</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>NÓMINA DE LOS MIEMBROS DEL ÓRGANO DIRECTIVO</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
    </div><br><br>


    <div>
        <div class="container">
            <div class="row">
                <h1>TIPOS DE ORGANIZACIÓN SOCIAL</h1><br><br>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                <i class="fa fa-angle-left control-icon"></i> Organizaciones Vecinales
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                <li> Asentamiento Humano.</li>
                                <li> Asociación de Pobladores.</li>
                                <li> Asociación de Vivienda. </li>
                                <li> Cooperativas de Vivienda.</li>
                                <li> Asociaciones y/o Junta de Propietarios.</li>
                                <li> Junta o Comité Vecinal.</li>
                                <li> Comité Cívico.</li>
                                <li> Comisiones de Gestión de Desarrollo,
                                    de parques, de obras, y otras que
                                    se encuentren establecidos
                                    en la Ley Orgánica de Municipalidades,
                                    que no se encuentren comprendidas
                                    en alguna de las Organizaciones Sociales
                                    en los incisos anteriores.</li>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Accordion 1 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-7" class="collapsed">
                                <i class="fa fa-angle-left control-icon"></i> Organizaciones sociales de base de apoyo
                                alimentario
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-7" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                <li>Club de Madres.</li>
                                <li>Comités de Vaso de Leche.</li>
                                <li>Comedores Populares Autogestionarios.</li>
                                <li>Cocinas Familiares.</li>
                                <li>Centros Familiares.</li>
                                <li>Centros Maternos Infantiles.</li>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-8" class="collapsed">
                                <i class="fa fa-angle-left control-icon"></i> Organizaciones Temáticas
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-8" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                <li>Organizaciones Culturales, Artísticas
                                    y/o Educativas, inclusive las que reúnen
                                    Promotores y/o Gestores Culturales. </li>
                                <li>Organización de Niños, Niñas y
                                    Adolescentes.</li>
                                <li>Organizaciones Juveniles.</li>
                                <li>Organizaciones de Personas
                                    Adultas Mayores.</li>
                                <li>Organización de Promoción de los
                                    Derechos Humanos y de Igualdad de
                                    Oportunidades para las Mujeres y la
                                    equidad de Género.</li>
                                <li>Organizaciones Ambientalistas.</li>
                                <li>Organizaciones de Salud.</li>
                                <li>Otras formas de Organizaciones
                                    Sociales que califiquen como tal.</li>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Start Accordion 2 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-10" class="collapsed">
                                <i class="fa fa-angle-left control-icon"></i> Organizaciones de Poblaciones Vulnerables
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-10" class="panel-collapse collapse">
                        <div class="panel-body">
                            <li>Organizaciones de Personas Viviendo con VIH/Sida.</li>
                            <li>Organizaciones de Personas Afectadas
                                por Tuberculosis.</li>
                            <li>Organización de Niños, Niñas y Adolescentes en
                                Situación de Abandono y/o Riesgo.</li>
                            <li>Organizaciones de Personas Adultas Mayores en
                                Situación de Abandono y/o Riesgo.</li>
                            <li>Organizaciones de Personas con Discapacidad.</li>
                            <li>Organizaciones de Personas Víctimas de Violencia
                                de Género o Violencia Política.</li>
                            <li>Organizaciones de Personal Desplazadas y
                                Migrantes en Situación de Vulnerabilidad.</li>
                            <li>Otras formas de Organizaciones Sociales
                                que califiquen como tal.</li>
                        </div>
                    </div>
                </div>
                <!-- End Accordion 2 -->

                <!-- Start Accordion 3 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                                <i class="fa fa-angle-left control-icon"></i> Organizaciones Económicas
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                <li>Organizaciones de Comerciantes
                                    Ambulantes.</li>
                                <li>Organizaciones de Comerciantes de
                                    Mercados, de Galerías u otros.</li>
                                <li>Organización de Artesanos.</li>
                                <li>Organizaciones de Trabajadoras/es del hogar.</li>
                                <li>Organización de Lustradores de Calzados.</li>
                                <li>Organización de Canillitas y Expendedores
                                    de Diarios y Revistas.</li>
                                <li>Organización de Estibadores.</li>
                                <li>Organización de Recicladores.</li>
                                <li>Organización de Transportistas.</li>
                                <li>Organización de Emolienteros, Vivanderas
                                    y Comida al paso.</li>
                                <li>Organización de Pequeñas y Micro Empresas.</li>
                                <li>Otras que puedan comprender este rubro.</li>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Accordion 3 -->

                <!-- Start Accordion 4 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4" class="collapsed">
                                <i class="fa fa-angle-left control-icon"></i> Organizaciones Deportivas
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                <li>Club Deportivo.</li>
                                <li>Comité Deportivo Comunal.</li>
                                <li>Asociaciones Deportivas.</li>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Accordion 4 -->

                <!-- Start Accordion 5 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5" class="collapsed">
                                <i class="fa fa-angle-left control-icon"></i>Otras formas de Organizaciones Sociales y/o
                                Cívicas
                            </a>
                        </h4>
                    </div>
                    <div id="collapse-5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>
                                <li>Las cuales puedan crearse en la jurisdicción del
                                    Distrito de Chaclacayo de conformidad
                                    con el artículo 5º de la presente Ordenanza.</li>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br><br><br>
    <!-- End Accordion 5 -->


    <div>
        <div class="container">
            <div class="row">
                <h1>Organizaciones Sociales</h1> <br><br><br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Codigo de Organización</th>
                            <th scope="col">Nombre de Organización</th>
                            <th scope="col">Nombre de Organización</th>
                            <th scope="col">Zona</th>
                            <th scope="col">Inicio de vigencia</th>
                            <th scope="col">Fin de vigencia</th>
                            <th scope="col">Inicio de vigencia</th>
                            <th scope="col">Resolución de la Organización</th>
                            <th scope="col">Word</th>
                            <th scope="col">PDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>


</section>


<div id="copyright-section" class="copyright-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="copyright">
                    Municipalidad de Chaclacayo<a href="http://www.themefisher.com"> 2022</a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="copyright-menu pull-right">
                    <ul>
                        <li><a href="#" class="active">Home</a></li>
                        <li><a href="#">Sample Site</a></li>
                        <li><a href="#">getbootstrap.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--/.row -->
    </div><!-- /.container -->
</div>

<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/lightbox.min.js"></script>
<script src="js/count-to.js"></script>
<script src="js/styleswitcher.js"></script>

<script src="js/map.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="js/script.js"></script>