<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Registrar Datos</h4>
          </div>
          <div class="card-body">


            <form class="row g-3 needs-validation" novalidate>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Nombres</label>
                  <input type="text" class="form-control" id="validationCustom01" required placeholder="Nombre OS" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Apellido Paterno</label>
                  <input type="text" class="form-control" id="validationCustom01" required placeholder="Nombre OS" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Apellido Materno</label>
                  <input type="text" class="form-control" id="validationCustom01" required placeholder="Nombre OS" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Correo</label>
                  <input type="text" class="form-control" id="validationCustom01" required placeholder="Nombre OS" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Dirección</label>
                  <input type="text" class="form-control" id="validationCustom01" required placeholder="Nombre OS" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-4">
                <label for="">Zona Local</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Seleccionar Zona Local</option>
                  <option value="1">Alameda de Ñaña</option>
                  <option value="2">San Francisco</option>
                  <option value="3">La Era</option>
                  <option value="4">Vallecito</option>
                </select>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Teléfono</label>
                  <input type="text" class="form-control" id="validationCustom01" required placeholder="Dirección" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-4">
                <label for="">Cargo</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Seleccionar Cargp</option>
                  <option value="1">Cargo 1</option>
                  <option value="2">Cargo 2</option>
                  <option value="3">Cargo 3</option>
                  <option value="4">Cargo 4</option>
                </select>
              </div>

              <div class="col-md-4">
                <label for="">Rol</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Seleccionar Rol</option>
                  <option value="1">Rol 1</option>
                  <option value="2">Rol 2</option>
                  <option value="3">Rol 3</option>
                  <option value="4">Rol 4</option>
                </select>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Estado</label>
                  <input type="text" class="form-control" id="validationCustom01" value="A" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Privilegio</label>
                  <br>
                  <label><input type="checkbox" id="cbox1" value="first_checkbox"> Agregar</label><br>
                  <label><input type="checkbox" id="cbox2" value="second_checkbox"> Eliminar</label><br>
                  <label><input type="checkbox" id="cbox2" value="third_checkbox"> Editar</label><br>
                  <label><input type="checkbox" id="cbox2" value="fourth_checkbox"> Ver</label><br>
                  
                </div>
              </div>

              <div class="col-md-4">
              </div>

              <div class="col-md-4">
              </div>

              <div class="col-md-4"></div>
              <div class="col-md-4"></div>
              <div class="col-md-4"><br></div>


              <div class="card-header card-header-success" style="margin-left: -1px;">
                <h4 class="card-title">Datos de Acceso</h4>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Nro Documento</label>
                  <input type="text" class="form-control" id="validationCustom01" required placeholder="Nombre OS" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-outline">
                  <label for="">Password</label>
                  <input type="text" class="form-control" id="validationCustom01" required placeholder="Nombre OS" />
                  <div class="valid-feedback">Looks good!</div>
                </div>
              </div>




              <div style="display: flex; text-align: center; align-items: center; justify-content: center;">
                <button type="button" class="btn btn-warning"
                  style="width: 500px; color: black; background-color: #E2F53A; width: 150px;">Registrar</button>
              </div>


            </form>
          </div>
        </div>
      </div>

      


    </div>
  </div>
</div>

