<div class="main-content">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-success">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Municipalidad de Chaclacayo</h1>
            <h5 class="display-6 fst-italic">Bienvenido al Sistema</h5>
            <p class="lead my-3" style="color: black;"> “Somos un gobierno local moderno con servicios de calidad orientados a
                la promoción y desarrollo de turismo, la economía local y el buen habitad de nuestra
                comunidad de Chaclacayo”.</p>
        </div>
    </div>

    <div class="container-fluid">
        
        <div class="row">

            <div class="col-md-4">
                <div class="card card-chart">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="https://thumbs.dreamstime.com/b/icono-de-documento-ilustraci%C3%B3n-plana-copia-archivos-vector-s%C3%ADmbolo-signo-164319088.jpg" class="card-img-top" alt="..." style="height: 400px; width: 400px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Expediente</h4>
                    </div>
                </div>  
            </div>
            
            <div class="col-md-4">
                <div class="card card-chart">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="https://static.vecteezy.com/system/resources/previews/004/240/402/non_2x/refresh-file-linear-icon-thin-line-illustration-document-with-cycling-arrows-contour-symbol-isolated-outline-drawing-vector.jpg" class="card-img-top" alt="..." style="height: 400px; width: 400px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Certificado</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="https://thumbs.dreamstime.com/b/icono-de-documento-ilustraci%C3%B3n-plana-copia-archivos-vector-s%C3%ADmbolo-signo-164319088.jpg" class="card-img-top" alt="..." style="height: 400px; width: 400px;">

                    </div>
                    
                    <div class="card-body">
                        <h4 class="card-title" style="text-align: center;">Credenciales</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
  