<br><br>

<div class="row" style="padding: 10px;">

    <div class="card" style="width: 18rem; border-left: 4px solid rgb(74, 199, 28); margin-left: 70px;">
        <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800043/61010830-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6"
            class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Mijael Raul Aliaga Ricaldi</h5>
            <p class="card-text">Nro Documento : 76965942</p>
            <p class="card-text">Estado: A</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; border-left: 4px solid rgb(74, 199, 28); margin-left: 70px;">
        <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800043/61010830-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6"
            class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Mijael Raul Aliaga Ricaldi</h5>
            <p class="card-text">Nro Documento : 76965942</p>
            <p class="card-text">Estado: A</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; border-left: 4px solid rgb(74, 199, 28); margin-left: 70px;">
        <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800043/61010830-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6"
            class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Mijael Raul Aliaga Ricaldi</h5>
            <p class="card-text">Nro Documento : 76965942</p>
            <p class="card-text">Estado: A</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; border-left: 4px solid rgb(74, 199, 28); margin-left: 70px;">
        <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800043/61010830-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6"
            class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Mijael Raul Aliaga Ricaldi</h5>
            <p class="card-text">Nro Documento : 76965942</p>
            <p class="card-text">Estado: A</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; border-left: 4px solid rgb(74, 199, 28); margin-left: 70px;">
        <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800043/61010830-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6"
            class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Mijael Raul Aliaga Ricaldi</h5>
            <p class="card-text">Nro Documento : 76965942</p>
            <p class="card-text">Estado: A</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; border-left: 4px solid rgb(74, 199, 28); margin-left: 70px;">
        <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800043/61010830-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6"
            class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Mijael Raul Aliaga Ricaldi</h5>
            <p class="card-text">Nro Documento : 76965942</p>
            <p class="card-text">Estado: A</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; border-left: 4px solid rgb(74, 199, 28); margin-left: 70px;">
        <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800043/61010830-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6"
            class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Mijael Raul Aliaga Ricaldi</h5>
            <p class="card-text">Nro Documento : 76965942</p>
            <p class="card-text">Estado: A</p>
        </div>
    </div>


    <div class="card" style="width: 18rem; border-left: 4px solid rgb(74, 199, 28); margin-left: 70px;">
        <img src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1608/tuktukdesign160800043/61010830-user-icon-man-profile-businessman-avatar-person-glyph-vector-illustration.jpg?ver=6"
            class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">Mijael Raul Aliaga Ricaldi</h5>
            <p class="card-text">Nro Documento : 76965942</p>
            <p class="card-text">Estado: A</p>
        </div>
    </div>

</div>