<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100" style="margin-top: -600px;">

        <img src="https://www.munichaclacayo.gob.pe/portals/frame/modulo2/data/assets/img/view/escudo.png" alt=""
            style="width: 150px; height: 150px; margin-left: 140px; margin-top: -20px;">
        <h2 class="fw-bold mb-2" style="color: white; margin-left: 320px; margin-top: -100px;">Municipalidad de
            Chaclacayo</h2>


        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: rgb(225, 224, 221);">
                    <div class="card-body text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2" style="color: black;">Iniciar Sesión</h2>
                            <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/512/external-user-law-and-crime-kiranshastry-lineal-color-kiranshastry.png"
                                alt=""
                                style="display: flex; width: 70px; justify-content: center; align-items: center; margin-left: 180px;">
                            <br>

                            <div class="form-outline form-white mb-4">
                                <label for="" style="margin-left: -263px; color: black;">Nro de Documento *</label>
                                <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" [(ngModel)]="usuario.username"/>
                            </div>


                            <div class="form-outline form-white mb-4">
                                <label for="" style="margin-left: -310px; color: black;">Contraseña *</label>
                                <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" [(ngModel)]="usuario.password"/>
                            </div>

                            <a href="#!" class="fw-bold" style="color: black;"> ¿Olvidaste tu contraseña?</a>
                            <br><br>
                            <div>
                                <p class="mb-0" style="color: black;">¿No tienes una cuenta? <a class=" fw-bold"
                                        style="color: blue;" [routerLink]="'/registrar'" routerLinkActive="active">
                                        Registrate</a>
                                </p>
                            </div>
                            <br><br>
                            <button class="btn btn-outline-light btn-lg px-5" type="submit"
                                style="background-color: rgb(76, 128, 76);" 
                                routerLinkActive="active" (click)="iniciarSesion()">Iniciar Sesión
                            </button>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>