.gradient-custom {
    
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 320px;
    padding-bottom: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://scontent.flim16-3.fna.fbcdn.net/v/t1.6435-9/75481879_930297287352703_2029179817508732928_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeH6O5YI2OPfLUIaIS9tkYJ6e7sgpo2YOFB7uyCmjZg4UO9ntTxSbLQ245z8wNrGQZtFcZfGtDS9vCQGTubdMhfs&_nc_ohc=jr6Si9XYKPsAX8x68DI&_nc_ht=scontent.flim16-3.fna&oh=00_AfDGZFwgH8tpaiQ4hstCJWQcExrmYJ5LAaDSgxQNJskSAg&oe=63B6D080);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;

    }


    