<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100 col-50" style="margin-top: -600px;">

        


        <div class="row d-flex justify-content-center align-items-center h-100" style="margin-left: 400px; width: 1200px;">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem; background-color: rgb(225, 224, 221);">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5 row g-6">

                            <h2 class="fw-bold mb-2" style="color: black;">Crea tu Cuenta</h2>

                            <div><br></div>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Nombres *</label>
                                <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" />
                            </div>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Apellido Paterno *</label>
                                <input type="email" id="typePasswordX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" />
                            </div>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Apellido Materno *</label>
                                <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" />
                            </div>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Teléfono *</label>
                                <input type="email" id="typePasswordX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" />
                            </div>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Correo *</label>
                                <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" />
                            </div>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Dirección *</label>
                                <input type="email" id="typePasswordX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" />
                            </div>

                            <div class="col-md-6">
                                <label for="" style=" color: black;">Zona Local *</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Seleccionar Zona local</option>
                                    <option value="1">Alameda</option>
                                    <option value="2">Chaclacayo</option>
                                    <option value="3">La Era</option>
                                    <option value="4">Los Sauces</option>
                                    <option value="5">Vallecito</option>
                                </select>
                            </div>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Estado *</label>
                                <input type="email" id="typePasswordX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" value="A" />
                            </div>
                            <div><br></div>
                            <h3 class="fw-bold mb-2" style="color: black;">-----Datos de Acceso-----</h3>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Nro Documento *</label>
                                <input type="email" id="typeEmailX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" />
                            </div>

                            <div class="form-outline form-white col-md-6">
                                <label for="" style=" color: black;">Contraseña *</label>
                                <input type="password" id="typeEmailX" class="form-control form-control-lg"
                                    style="background-color: white; padding: 5px;" />
                            </div>



                            <div><br><br></div>

                            



                            <button class="btn btn-outline-light btn-lg px-5" type="submit"
                                style="background-color: rgb(76, 128, 76);" [routerLink]="'/login'"
                                routerLinkActive="active" (click)="Guardar2()">Registar Cuenta
                            </button>


                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


