<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Lista de Solicitudes</h4>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">

                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Organizacióm Social
                                    </th>
                                    <th>
                                        Tipo de Organización Social
                                    </th>
                                    <th>
                                        Zona Local
                                    </th>
                                    <th>
                                        Nivel OS
                                    </th>
                                    <th>
                                        Nro Expediente
                                    </th>

                                </thead>

                                <tbody>

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Vasp de Leche</td>
                                        <td>Organización Vecinal</td>
                                        <td>Alameda</td>
                                        <td>Alameda</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Vasp de Leche</td>
                                        <td>Organización Vecinal</td>
                                        <td>Alameda</td>
                                        <td>Alameda</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Vasp de Leche</td>
                                        <td>Organización Vecinal</td>
                                        <td>Alameda</td>
                                        <td>Alameda</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Vasp de Leche</td>
                                        <td>Organización Vecinal</td>
                                        <td>Alameda</td>
                                        <td>Alameda</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Vasp de Leche</td>
                                        <td>Organización Vecinal</td>
                                        <td>Alameda</td>
                                        <td>Alameda</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Vasp de Leche</td>
                                        <td>Organización Vecinal</td>
                                        <td>Alameda</td>
                                        <td>Alameda</td>

                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="main-content" style="margin-top: -300px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Lista de Solicitudes</h4>
                        
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <div>
                                    <div class="col-md-4">
                                        <div class="form-outline">
                                          <label for="">Organizacion Social</label>
                                          <input type="text" class="form-control" id="validationCustom01" required placeholder="Ingresar ID Os" />
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                      </div>
                        
                                      <div class="col-md-4">
                                        <div class="form-outline">
                                          <label for="">Nro Expediente</label>
                                          <input type="text" class="form-control" id="validationCustom01" required placeholder="Nro expediente" />
                                          <div class="valid-feedback">Looks good!</div>
                                        </div>
                                      </div>

                                      <div style="display: flex; text-align: center; align-items: center; justify-content: center;">
                                        <button type="button" class="btn btn-warning"
                                          style="width: 500px; color: black; background-color: #E2F53A; width: 150px;">Generar</button>
                                      </div>

                                </div>
                               

                                

                            
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>