<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title">Expediente</h4>
            </div>
            <div class="card-body">
  
  
              <form class="row g-3 needs-validation" novalidate>
  
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">

                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Nro Expediente
                                </th>
                                <th>
                                    Nombre OS
                                </th>
                                <th>
                                    Tipo de Organización Social
                                </th>
                                <th>
                                    Visualizar
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Cod OS
                                </th>
                                <th>
                                    Informe tecnico
                                </th>

                            </thead>

                            <tbody>

                                <tr>
                                    <th scope="row">1</th>
                                    <td>20210</td>
                                    <td>Vaso de Leche</td>
                                    <td>Organizacion Vecinal Deportiva</td>
                                    <td><a href="https://cdn-v1.udocz-assets.com/uploads/book/cover/61872/anexo_b_solicitud_de_inscripcion_en_el_registro_juridico.jpg" class="text-center"><i class="fa-solid fa-eye"></i></a></td>
                                    <td>A</td>
                                    <td>202114</td>
                                    <td><i class="fa-solid fa-file-pdf"></i></td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>20210</td>
                                    <td>Vaso de Leche</td>
                                    <td>Organizacion Vecinal Deportiva</td>
                                    <td><a href="https://cdn-v1.udocz-assets.com/uploads/book/cover/61872/anexo_b_solicitud_de_inscripcion_en_el_registro_juridico.jpg" class="text-center"><i class="fa-solid fa-eye"></i></a></td>
                                    <td>A</td>
                                    <td>202114</td>
                                    <td><i class="fa-solid fa-file-pdf"></i></td>

                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>20210</td>
                                    <td>Vaso de Leche</td>
                                    <td>Organizacion Vecinal Deportiva</td>
                                    <td><a href="https://cdn-v1.udocz-assets.com/uploads/book/cover/61872/anexo_b_solicitud_de_inscripcion_en_el_registro_juridico.jpg" class="text-center"><i class="fa-solid fa-eye"></i></a></td>
                                    <td>A</td>
                                    <td>202114</td>
                                    <td><i class="fa-solid fa-file-pdf"></i></td>

                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>20210</td>
                                    <td>Vaso de Leche</td>
                                    <td>Organizacion Vecinal Deportiva</td>
                                    <td><a href="https://cdn-v1.udocz-assets.com/uploads/book/cover/61872/anexo_b_solicitud_de_inscripcion_en_el_registro_juridico.jpg" class="text-center"><i class="fa-solid fa-eye"></i></a></td>
                                    <td>A</td>
                                    <td>202114</td>
                                    <td><i class="fa-solid fa-file-pdf"></i></td>

                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>20210</td>
                                    <td>Vaso de Leche</td>
                                    <td>Organizacion Vecinal Deportiva</td>
                                    <td><a href="https://cdn-v1.udocz-assets.com/uploads/book/cover/61872/anexo_b_solicitud_de_inscripcion_en_el_registro_juridico.jpg" class="text-center"><i class="fa-solid fa-eye"></i></a></td>
                                    <td>A</td>
                                    <td>202114</td>
                                    <td><i class="fa-solid fa-file-pdf"></i></td>

                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>20210</td>
                                    <td>Vaso de Leche</td>
                                    <td>Organizacion Vecinal Deportiva</td>
                                    <td><a href="https://cdn-v1.udocz-assets.com/uploads/book/cover/61872/anexo_b_solicitud_de_inscripcion_en_el_registro_juridico.jpg" class="text-center"><i class="fa-solid fa-eye"></i></a></td>
                                    <td>A</td>
                                    <td>202114</td>
                                    <td><i class="fa-solid fa-file-pdf"></i></td>

                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
  
                <div class="col-md-4">
                </div>
  
                <div class="col-md-4">
                </div>
  
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"><br></div>
  
  
                <div class="card-header card-header-success" style="margin-left: -1px;">
                  <h4 class="card-title">Estado</h4>
                </div>
  
                <div class="col-md-4">
                  <div class="form-outline" >
                    <label for="">Organización Social</label>
                    <input type="text" class="form-control" id="validationCustom01" required placeholder="Ingresa ID de OS" />
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <div class="form-outline" >
                    <label for="">Estado</label>
                    <input type="text" class="form-control" id="validationCustom01" required placeholder="Ingresar estado" />
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>

                <div class="col-md-4">
                    <div class="form-outline" >
                      <label for="">Código Organización Social</label>
                      <input type="text" class="form-control" id="validationCustom01" required placeholder="Ingresar código" />
                      <div class="valid-feedback">Looks good!</div>
                    </div>
                  </div>
  
  
  
  
                <div style="display: flex; text-align: center; align-items: center; justify-content: center;">
                  <button type="button" class="btn btn-warning"
                    style="width: 500px; color: black; background-color: #E2F53A; width: 150px;" (click)="Guardar2()">Generar</button>
                </div>
  
  
              </form>
            </div>
          </div>
        </div>
  
        
  
  
      </div>
    </div>
  </div>
  
  