<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-11">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title">Actualizar Organización Social</h4>
            </div>
            <div class="card-body">
  
  
              <form class="row g-3 needs-validation" novalidate>
  
                <div class="col-md-4">
                  <div class="form-outline">
                    <label for="">Organización Social</label>
                    <input type="text" class="form-control" id="validationCustom01" required placeholder="Nombre OS" />
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <label for="">Cargo</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar Cargo</option>
                    <option value="1">Presidente</option>
                    <option value="2">Secretario</option>
                    <option value="3">Vocero</option>
                  </select>
                </div>
  
                <div class="col-md-4">
                  <div class="form-outline">
                    <label for="">Representante</label>
                    <input type="text" class="form-control" id="validationCustom01" required
                      placeholder="Nombre Representante" />
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <label for="">Tipo de Organización Social</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar Tipos OS</option>
                    <option value="1">Organización Vecinal</option>
                    <option value="2">Organización Deportiva</option>
                    <option value="3">Organización Directiva</option>
                  </select>
                </div>
  
                <div class="col-md-4">
                  <label for="">Zona Local</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar Zona Local</option>
                    <option value="1">Alameda de Ñaña</option>
                    <option value="2">San Francisco</option>
                    <option value="3">La Era</option>
                    <option value="4">Vallecito</option>
                  </select>
                </div>
  
                <div class="col-md-4">
                  <div class="form-outline">
                    <label for="">Dirección</label>
                    <input type="text" class="form-control" id="validationCustom01" required placeholder="Dirección" />
                    <div class="valid-feedback">Looks good!</div>
                  </div>
                </div>
  
                <div class="col-md-4">
                  <label for="">Nivel OS</label>
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Seleccionar Nivel OS</option>
                    <option value="1">Nivel 1</option>
                    <option value="2">Nivel 2</option>
                    <option value="3">Nivel 3</option>
                    <option value="4">Nivel 4</option>
                  </select>
                </div>
  
                <div class="col-md-4">
                </div>
  
                <div class="col-md-4">
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ejemplo_archivo_1">Adjuntar Nomina de Socios</label>
                    <input type="file" id="ejemplo_archivo_1">
                  </div>
                  <button type="file" class="cssbuttons-io-button">
                    <svg type="file" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z" fill="currentColor"></path></svg>
                    <span> File</span>
                  </button>
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                    <input type="file" id="ejemplo_archivo_1">
                  </div>
                  <button type="file" class="cssbuttons-io-button">
                    <svg type="file" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z" fill="currentColor"></path></svg>
                    <span> File</span>
                  </button>  
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                    <input type="file" id="ejemplo_archivo_1">
                  </div>
                  <button type="file" class="cssbuttons-io-button">
                    <svg type="file" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z" fill="currentColor"></path></svg>
                    <span> File</span>
                  </button>  
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                    <input type="file" id="ejemplo_archivo_1">
                  </div>
                  <button type="file" class="cssbuttons-io-button">
                    <svg type="file" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z" fill="currentColor"></path></svg>
                    <span> File</span>
                  </button>  
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                    <input type="file" id="ejemplo_archivo_1">
                  </div>
                  <button type="file" class="cssbuttons-io-button">
                    <svg type="file" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z" fill="currentColor"></path></svg>
                    <span> File</span>
                  </button>  
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                    <input type="file" id="ejemplo_archivo_1">
                  </div>
                  <button type="file" class="cssbuttons-io-button">
                    <svg type="file" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z" fill="currentColor"></path></svg>
                    <span> File</span>
                  </button>  
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                    <input type="file" id="ejemplo_archivo_1">
                  </div>
                  <button type="file" class="cssbuttons-io-button">
                    <svg type="file" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z" fill="currentColor"></path></svg>
                    <span> File</span>
                  </button>  
                </div>
  
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="ejemplo_archivo_1">Adjuntar un archivo</label>
                    <input type="file" id="ejemplo_archivo_1">
                  </div>
                  <button type="file" class="cssbuttons-io-button">
                    <svg type="file" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z" fill="currentColor"></path></svg>
                    <span> File</span>
                  </button>  
                </div>
  
  
                
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"><br></div>
                
  
  
                <div style="display: flex; text-align: center; align-items: center; justify-content: center;">
                  <button type="button" class="btn btn-warning"
                    style="width: 500px; color: black; background-color: #E2F53A; width: 150px;" (click)="Guardar2()">Registrar</button>
                </div>
  
  
              </form>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>