<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title ">Lista de Junta Directiva</h4>
                       
                    </div>
                    
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">

                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Apellido Paterno
                                    </th>
                                    <th>
                                        Apellido Materno
                                    </th>
                                    <th>
                                        Correo 
                                    </th>
                                    <th>
                                        Dirección
                                    </th>
                                    <th>
                                        Zona Local
                                    </th>
                                    <th>
                                        Telefono
                                    </th>
                                    <th>
                                        Cargo
                                    </th>
                                    <th>
                                        Rol
                                    </th>
                                    <th>
                                        Privilegio
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Acción
                                    </th>
                                   
                                </thead>

                                <tbody>

                                   

                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mijael</td>
                                        <td>Aliaga</td>
                                        <td>Ricaldi</td>
                                        <td>mijael.aliaga@gmail.com</td>
                                        <td>Av. Bernardo Balaguer</td>
                                        <td>Alameda</td>
                                        <td>940821766</td>
                                        <td>Presidente</td>
                                        <td>Mesa de Partes</td>
                                        <td>Agregar</td>
                                        <td>A</td>
                                        <td>Delete</td>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Mijael</td>
                                        <td>Aliaga</td>
                                        <td>Ricaldi</td>
                                        <td>mijael.aliaga@gmail.com</td>
                                        <td>Av. Bernardo Balaguer</td>
                                        <td>Alameda</td>
                                        <td>940821766</td>
                                        <td>Presidente</td>
                                        <td>Mesa de Partes</td>
                                        <td>Agregar</td>
                                        <td>A</td>
                                        <td>Delete</td>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Mijael</td>
                                        <td>Aliaga</td>
                                        <td>Ricaldi</td>
                                        <td>mijael.aliaga@gmail.com</td>
                                        <td>Av. Bernardo Balaguer</td>
                                        <td>Alameda</td>
                                        <td>940821766</td>
                                        <td>Presidente</td>
                                        <td>Mesa de Partes</td>
                                        <td>Agregar</td>
                                        <td>A</td>
                                        <td>Delete</td>
                                            
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Mijael</td>
                                        <td>Aliaga</td>
                                        <td>Ricaldi</td>
                                        <td>mijael.aliaga@gmail.com</td>
                                        <td>Av. Bernardo Balaguer</td>
                                        <td>Alameda</td>
                                        <td>940821766</td>
                                        <td>Presidente</td>
                                        <td>Mesa de Partes</td>
                                        <td>Agregar</td>
                                        <td>A</td>
                                        <td>Delete</td>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Mijael</td>
                                        <td>Aliaga</td>
                                        <td>Ricaldi</td>
                                        <td>mijael.aliaga@gmail.com</td>
                                        <td>Av. Bernardo Balaguer</td>
                                        <td>Alameda</td>
                                        <td>940821766</td>
                                        <td>Presidente</td>
                                        <td>Mesa de Partes</td>
                                        <td>Agregar</td>
                                        <td>A</td>
                                        <td>Delete</td>
                                        
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Mijael</td>
                                        <td>Aliaga</td>
                                        <td>Ricaldi</td>
                                        <td>mijael.aliaga@gmail.com</td>
                                        <td>Av. Bernardo Balaguer</td>
                                        <td>Alameda</td>
                                        <td>940821766</td>
                                        <td>Presidente</td>
                                        <td>Mesa de Partes</td>
                                        <td>Agregar</td>
                                        <td>A</td>
                                        <td>Delete</td>
                                        
                                    </tr>

                                    

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
  </div>

  
  